{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="blankspace3"></div>
<div class="cart-background">
<h2 class="cart-heading">Shopping Bag</h2>   <!-- displays the items in the shopping bag. -->  
 {% for item in cart_items %}
 <div>
      <img src="{{ item.product.image_url  }}" class="image-cart" alt="cakes">
        <h5 class="card-title cart-title">{{ item.product.name }}</h5>
        <p class="card-text cart-id">{{ item.product.id }}</p>
        <p class="card-text cart-price">£{{ item.product.price }}</p>
        <p class="card-text cart-quantity">Quantity: {{ item.quantity }}</p>
        </div>
         <form action="{% url 'adjust_cart' item.product.id %}" method="POST" class="form-group cart-input">
      {% csrf_token %}
      <!-- user can amend quantity -->
       <input type="number" class="form-control" name="quantity" value="{{ item.quantity }}" min="0" max="5" placeholder="Amend Quantity" required>
        <button class="btn form-control amend-quantity-button" type="submit">Amend Quantity</button>   
      </form>
      {% endfor %}
<div class="container">
  <div class="row cart-row">
        <div class="col-lg-8">
            <strong class="total">Total:</strong>
            <!-- displays order total or message if cart is empty -->
            {% if total > 0 %}
            <strong class="total"><span aria-hidden="true">£</span>{{ total }}</strong> 
                <a class="btn checkout-button" href="{% url 'checkout' %}" role="button">Checkout</a>
            {% else %}
                <p class="return-to-cakes">Your cart is now empty. Return to <a class="return-button" href="{% url 'products' %}">cakes</a>.</p>
            {% endif %}
        </div>
    </div>
</div>
</div>
<div class="blankspace2"></div>
{% endblock %}

