{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="blankspace2"></div>
<div class="table-background">
<h2 class="cart-heading">Shopping Bag</h2>

{% if cart_items %}
 {% for item in cart_items %}

<table class="table">
  <thead>
    <tr class="cart-subhead">
      <th scope="col" class="cart-head"></th>
      <th scope="col" class="cart-head"></th>
      <th scope="col" class="cart-head">Price</th>
      <th scope="col" class="cart-head">Quantity</th>
    </tr>
    <tr>
      <th scope="col" class="cart-items2"><img src="{{ item.product.image_url  }}" class="image-cart" style="justify-content:space-between;" alt="item.product.description"></th>
      <th scope="col" class="cart-items">{{ item.product.name }}</th>
      <th scope="col" class="cart-items">£{{ item.product.price }}</th>
        <form class="update-cart" method="POST" action"">
        {% csrf_token %}
        <input type="number" value="{{ item.quantity }}" name="quantity" min="1" max="5" class="form-control addtocart-item" placeholder="Quantity" required>
        </form>
       <a class="update-link text-info"><small>Update</small></a>
    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
  </thead>
  </table>  

 {% endfor %}
     {% endif %}
<section class="container">
  <div class="row cart-row">
        <div class="col-12">
            <strong class="total">Total:</strong>
            <strong class="total"><span aria-hidden="true">£</span>{{ total }}</strong>
            {% if total > 0 %}
                <a class="btn checkout-button" href="#" role="button">Checkout</a>
            {% else %}
                <p>Your cart is now empty. Return to <a class="return-button" href="">store</a>.</p>
            {% endif %}
        </div>
    </div>
</section>
</div>
<div class="blankspace3"></div>
{% endblock %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-cart');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var url = `/cart/remove/${itemId}`;

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
