{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid parallax"></div>
<div class="subhead-background">
<p class="sub-head">Made with love...</p>
<p class="sub-head2">Bespoke Vegan and Gluten Free baked goods for every occasion</p>
</div>
<div class="container-fluid subhead-about">
  <div class="row">
    <div class="col-sm">
    <img src="{% static 'images/mainpageone.jpg' %}" class="card-img-top main-cakeone" alt="cake">
    </div>
    <div class="col-sm pt-lg-2 d-none d-lg-flex">
    <img src="{% static 'images/mainpagetwo.jpg' %}" class="card-img-top main-caketwo" alt="cake2">
    </div>
    <div class="col-sm pt-lg-2 d-none d-lg-flex">
    <img src="{% static 'images/mainpagethree.jpg' %}" class="card-img-top main-cakethree" alt="cake3">
    </div>
  </div>
</div>
<div class="container-fluid subhead-background2">
<p class="sub-head3">At House Of Cakes we use the finest ingredients and each cake is individually handmade to order just for you.
All our baked goods are not only Vegan and Gluten Free, but also Soy-free, low GI and we make everything with coconut sugar as a healthier alternative.
We love what we do and we love our customers, which is why there are no additives or preservatives in our baking. All our recipes are developed by us,
for you.</p>
</div>


<!-----
    <div class="row">
      <div class="col-lg-12 col-sm-12 my-5 d-none d-md-block">
        <img src="{% static 'images/background.jpg' %}" id="background" alt="victoria-sponge">
        ---->

{% endblock %}