{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block head_js %}
    <script src="https://js.stripe.com/v2/"></script>
    <script>
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
    </script>
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}

{% block content %}

<div class="blankspace4"></div>
<div class="checkout-background">
<h2 class="checkout-heading">Checkout</h2>
<div class="row">
    <div class="col-12">
        <div id="credit-card-errors" style="display:none; color: red;">
            <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>
    </div>
</div>
<div class="row checkout-row2">
    <div class="col-10">
                <p class="text-center order-summary">Order Summary</p>
                <div class="row">
                    <div class="col-7 offset-2">
                        <p class="mb-1">Item</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                    </div>
                </div>
{% for item in cart_items %}
                    <div class="row">
                        <div class="col-2 mb-1">
                        </div>
                        <div class="col-7">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                        <div class="col-3 text-right">
                            <p class="my-0 text-muted">£{{ item.product.price }}</p>
                        </div>
                    </div>
                {% endfor %}
                <hr class="my-0">
                <div class="row text-black text-right">
                    <div class="col-7 offset-2">
                        <p class="my-0">Order Total:</p>
                        <p class="my-0">Delivery:</p>
                        <p class="my-0">Grand Total:</p>
                    </div>
                    <div class="col-3">
                        <p class="my-0">£{{ total | floatformat:2 }}</p>
                        <p class="my-0">£{{ delivery | floatformat:2 }}</p>
                        <p class="my-0"><strong>£{{ grand_total | floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>

    <form role="form" method="POST" action="{% url 'checkout' %}" id="payment-form">
        <div class="row">
          {% csrf_token %}
          <div class="form-group col-lg-6 delivery-address">
            <p class="delivery-address-title">Delivery Address</p>
            {{ order_form | as_bootstrap}}
            
              <label for="order-email">Email</label>
              <input name="order-email" type="email" class="form-control" id="order" />
          
          </div>
          <div class="form-group col-lg-4 payment-info">
            <p class="payment-info-title">Payment Information</p>
            {{ payment_form | as_bootstrap }}
          </div>
        </div>
        <div class="row">
          <div class="pay-now">
            <input class="btn btn-block btn-lg btn-info" id="pay-now" type="submit" name="commit" value="Pay Now" />
          </div>
        </div>
      </form>
    </div>
</div>

{% for message in messages %}
<div>{{ message }}</div>
{% endfor %}

<div class="blankspace5"></div>



{% endblock %}
 
