
.parallax {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-position: 0 Y;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100% !important;
}

.main-nav {
    background-color: #a0c2e7;
    width: 100% !important;
    left: 0;
}

.main-logo {
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

.nav-item {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

.sub-head {
    font-family: 'Satisfy', cursive;
    font-size: 100px;
    text-align: center;
}

.subhead-background {
    height:300px;
    font-size:36px;
    z-index: 99999999;
    background: rgba(190, 183, 183, 0.747);
}