
/* index.html */

@media(min-width: 767px) {
.parallax {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-position: 0 Y;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100% !important;
}
}

.sub-head {
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    text-align: center;
    color: #484848;
}


.sub-head2 {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    text-align: center;
    color: #484848;
}

.sub-head3 {
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding-left: 20px;
    padding-right: 30px;
    color: #484848;
}


#subhead-item {
    margin-left: 100px;
}

.subhead-background {
    padding-top: 30px;
    height:300px;
    font-size:36px;
    z-index: 99999999;
    background: rgba(190, 183, 183, 0.747);
}

.subhead-background2 {
    padding-top: 70px;
    height: 300px;
    font-size:30px;
    z-index: 99999999;
    background-color: #fbf7f5;
}

.subhead-about {
    width: 100%;
    height: 450px;
    background-color: #fbf7f5;
    padding-top: 50px;
}

.col-sm {
   margin-left: 30px;
   margin-top: 40px;
    
}

.main-cakeone {
    width: 350px;
    height: 350px;
}

.main-caketwo {
    width: 350px;
    height: 350px;
}

.main-cakethree {
    width: 350px;
    height: 350px;
}


@media (max-width: 767px) {
    .sub-head {
        font-family: 'Satisfy', cursive;
        font-size: 25px !important;
        text-align: center;
        padding-left: 30px !important;
        margin-top: 15px;
        
    }
} 

@media (min-width: 768px) and (max-width: 1024px) {
    .sub-head {
        font-family: 'Satisfy', cursive;
        font-size: 60px !important;
        text-align: center;
        padding-left: 120px;
        margin-top: 15px;
        
    }
}

@media (max-width: 767px) {
.subhead-background2 {
    padding-top: 20px;
    height: 200px;
    z-index: 90999999;
    background-color: #fbf7f5;
}
}


@media (min-width: 768px) and (max-width: 1024px) {
.subhead-background2 {
    padding-top: 20px;
    height: 300px;
    z-index: 90999999;
    background-color: #fbf7f5;
}
}



@media(max-width: 767px) {
.main-cakeone {
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 15px;
    margin-left: 25px;

}
}

@media(min-width: 768px) and (max-width: 1024px) {
.main-cakeone {
    width: 450px;
    height: 450px;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 15px;
    margin-left: 110px;

}
}

@media(max-width: 767px) {
.subhead-about {
    width: 100%;
    height: 290px;
    background-color: #fbf7f5;
    padding-top: 10px;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.subhead-about {
    width: 100%;
    height: 290px;
    background-color: #fbf7f5;
    padding-top: 30px;
}
}

@media(max-width: 767px) {
.sub-head2 {
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    text-align: center;
    color: #484848;
    margin-left: 70px;
    margin-right: 70px;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.sub-head2 {
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    text-align: center;
    color: #484848;
    margin-left: 70px;
    margin-right: 70px;
    padding-right: 40px;
}
}

@media(max-width: 767px) {
.subhead-background {
    padding-top: 40px;
    padding-bottom: 30px;
    height: 250px;
    z-index: 99999999;
    background: rgba(190, 183, 183, 0.747);
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.subhead-background {
    padding-top: 40px;
    padding-bottom: 50px;
    height: 350px;
    z-index: 99999999;
    background: rgba(190, 183, 183, 0.747);
}
}


@media(min-width: 768px) and (max-width: 1024px) {
    .sub-head3 {
        background-color: rgba(190, 183, 183, 0.747);
        font-size: 30px !important;
        text-align: center;
        font-family: 'Rubik', sans-serif;
        padding-left: 10px;
        padding-right: 30px;
        margin-left: 35px;
        color: #484848;
        margin-top: 290px !important;
 
    }
}

@media(max-width: 767px) {
    .sub-head3 {
        background-color: #fbf7f5;
        font-size: 18px !important;
        text-align: center;
        font-family: 'Rubik', sans-serif;
        padding-left: 70px;
        padding-right: 70px;
        color: #484848;
        padding-top: 35px !important;
        margin-bottom: 100px !important;  
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .blankspace {
        height: 550px !important;
        background-color: #fbf7f5;
    }
}

@media (max-width: 767px) {
    .blankspace {
        height: 350px;
        background-color: #fbf7f5;
    }
}

.blankspace {
    height: 0px;
    background-color: #fbf7f5 !important;
}

/* nav bar */


.main-nav {
    background-color: #a0c2e7;
    width: 100% !important;
    height: 180px;
    left: 0;
}

.nav-item {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    box-sizing: border-box;

}

.navbar-dark .navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    margin-left: 30px !important;
    margin-top: 25px;
    
}

.nav-link-active {
    background-color: #a0c2e7;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

.nav-link-active:hover {
    background-color: #a0c2e7;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-decoration: none;
}


.fa-search {
    color: white;
}

.search-cake {
    margin-left: 200px;
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 767px) {
.main-nav {
    background-color: #a0c2e7;
    width: 100% !important;
    height: 280px;
    padding-left: 50px;
    padding-right: 50px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
.main-nav {
    background-color: #a0c2e7;
    width: 100% !important;
    height: 280px;
    padding-left: 50px;
    padding-right: 50px;
}
}

@media(max-width: 767px) {
.navbar-dark .navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    margin-left: 15px !important;
    margin-top: 25px;
    
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.navbar-dark .navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    margin-left: 15px !important;
    margin-top: 25px;
    
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.navbar-toggler-icon {
    margin-right: 50px;
    padding-top: 20px;
    font-size: 30px;
}
}

.search-cake {
    margin-left: 200px;
    margin-top: 20px;
    
}

::placeholder {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

@media(max-width: 767px) {
.search-cake {
    margin-left: 20px;
    margin-top: 60px;
    padding-left: 30px;
    padding-right: 50px;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.search-cake {
    margin-left: 170px;
    margin-top: 60px;
    padding-left: 30px;
}
}

/* footer.html */

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #a0c2e7;
  color: white;
  text-align: center;
}

#footericon {
    color: white;
    font-size: 30px;
}

#footericon2 {
    color: white;
    font-size: 30px;
}

#footericon3 {
    color: white;
    font-size: 30px;
}

.footer-copyright {
    font-family: 'Rubik', sans-serif;
}

@media(min-width: 768px) and (max-width: 1024px) {
.footer-copyright {
    font-family: 'Rubik', sans-serif;
    margin-right: 90px;
}
}

/* products.html */

.blankspace {
    height: 200px;
    background-color: white;
    width: 100%;
}


.cakebox {  
    display: inline-block;
    box-sizing: border-box;
    background-color: #EEF0F2;
    width: 350px !important;
    height: 470px;
    position: relative;
}


.productrows {
    display: inline-block;  
    margin-left: 70px;
    margin-bottom: 30px;
}


.cakeimage {
    width: 270px;
    height: 235px;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin-top: 20px;
    list-style: none !important;
}

ul {
    list-style: none;
}

.cakename {
    font-size: 15px !important;
    font-family: 'Rubik', sans-serif;
    color: #696969;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    margin-right: 30px;
    font-weight: bold;
}

.cakeprice {
    font-size: 12px;
    color: #696969;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
    list-style: none;
}

.addcake-item {
    width: 120px;
    text-align: center;
    margin-left: 80px;
}

.more-button {
    margin-left: 85px;
    margin-top: 25px;
    background-color: #D3D3D3;
    color: #696969;
    font-family: 'Rubik', sans-serif;
}

.more-button:hover {
    margin-left: 85px;
    margin-top: 25px;
    background-color: #C0C0C0;
    color: #696969;
    font-family: 'Rubik', sans-serif;
}


@media(max-width: 767px) {
.blankspace13 {
    height: 350px;

}
}

@media(min-width: 768px) and (max-width: 1024px) {
.cakeimage {
    width: 280px;
    height: 280px;
    margin-left: 25px;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.cakename {
    font-size: 18px !important;
    font-family: 'Rubik', sans-serif;
    color: #696969;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    margin-right: 30px;
    font-weight: bold;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.cakeprice {
    font-size: 15px;
    color: #696969;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
    list-style: none;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.more-button {
    margin-left: 100px;
    margin-top: 25px;
    background-color: #D3D3D3;
    color: #696969;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.more-button:hover {
    margin-left: 100px;
    margin-top: 25px;
    background-color: #C0C0C0;
    color: #696969;
}
}

.more-button {
    margin-left: 85px;
    margin-top: 25px;
    background-color: #D3D3D3;
    color: #696969;
    font-family: 'Rubik', sans-serif;
}

@media(min-width: 768px) and (max-width: 1024px) {
.blankspace13 {
    height: 360px;

}
}

.blankspace13 {
    height: 360px;

}

@media (min-width: 768px) and (max-width: 1024px) {
.cakebox {  
    display: inline-block;
    box-sizing: border-box;
    background-color: #EEF0F2;
    width: 400px !important;
    height: 470px;
    margin-left: 110px !important;
    
}
}

/* product details */

.blankspace7 {
    background-color: white;
    height: 80px;
}


.blankspace16 {
    background-color: white;
    height: 230px;
}

@media(max-width: 767px) {
.blankspace16 {
    background-color: white;
    height: 320px;
}
}


@media (min-width: 1024px) {
.product-background {
    background-color: #EEF0F2;
    height: 500px;
    border: 2px;
    border-color: #A9A9A9;
    border-style: solid;
    border-radius: 10px;
    margin-left: 80px;
    margin-top: 30px;
}
}

@media(min-width: 1025px) {
.product-detail-image {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-top: 50px;
    display: inline-block;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.product-detail-image {
    width: 200px;
    height: 200px;
    margin-left: 230px;
    margin-top: 80px;
    display: inline-block;
}
}

@media (max-width: 767px) {
.product-detail-image {
    width: 250px !important;
    height: 200px !important;
    margin-top: 20px;
    margin-left: 85px;
}
}
.product-detail-name {
    text-align: center;
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    color: #484848;
    margin-top: 30px;
    margin-right: 20px;
}

.product-detail-price {
    text-align: center;
    font-size: 17px;
    color: #484848;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
} 

@media (max-width: 767px) {
.product-detail-price {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
}
}

.product-detail-description {
    text-align: center;
    font-size: 17px;
    color: #484848;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
} 

@media (max-width: 767px) {
.product-detail-description {
    text-align: center;
    font-size: 15px;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 10px;
}
}

.button-detail {
    margin-left: 120px;
    margin-top: 30px;
    padding-top: 8px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #D3D3D3;
    font-family: 'Rubik', sans-serif;
    color: #696969;
    border: none;
}

.button-detail:hover {
    margin-left: 120px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #C0C0C0;
    color: #696969;
    border: none;
    font-family: 'Rubik', sans-serif;
}


.button-add {
    margin-left: 20px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #D3D3D3;
    color: #696969;
    border: none;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

.button-add:hover {
    margin-left: 20px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #C0C0C0;
    color: #696969;
    border: none;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}


@media(max-width: 767px) {
.button-add {
    margin-left: 65px;
    margin-top: 30px;
    width: 110px;
    height: 40px;
    text-align: center;
    background-color: #D3D3D3;
    color: #696969;
    border: none;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}
}

@media(max-width: 767px) {
.button-add:hover {
    margin-left: 65px;
    margin-top: 30px;
    width: 110px;
    height: 40px;
    text-align: center;
    background-color: #C0C0C0;
    color: #696969;
    border: none;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}
}


.button-checkout {
    margin-left: 20px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #a0c2e7;
    color: #696969;
    border: none;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}


.button-checkout:hover {
    margin-left: 20px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #8caee2;
    color: #696969;
    border: none;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

@media(max-width: 767px) {
.button-checkout {
    margin-left: 20px;
    margin-top: 30px;
    width: 110px;
    height: 40px;
    text-align: center;
    background-color: #a0c2e7;
    color: #696969;
    border: none;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}
}

@media(max-width: 767px) {
.button-checkout:hover {
    margin-left: 20px;
    margin-top: 30px;
    width: 110px;
    height: 40px;
    text-align: center;
    background-color: #8caee2;
    color: #696969;
    border: none;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}
}

.qty_input {
    margin-left: 300px;
    width: 150px;
    height: 40px;
    text-align: center;
    color: #484848;
    font-family: 'Rubik', sans-serif;
    border: none;
}
@media(max-width: 767px) {
.qty_input {
    margin-left: 120px;
    width: 150px;
    height: 40px;
    text-align: center;
    color: #484848;
    font-family: 'Rubik', sans-serif;
    border: none;

}
}

@media(max-width: 767px) {
#qty_input {
    margin-left: 120px;
    width: 150px;
    height: 40px;
    text-align: center;
    color: #484848;
    font-family: 'Rubik', sans-serif;
    border: none;
    background-color: #EEF0F2;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.qty_input {
    margin-left: 280px;
    width: 150px;
    height: 40px;
    text-align: center;
    color: #484848;
    font-family: 'Rubik', sans-serif;
    border: none;

}
}

@media(min-width: 768px) and (max-width: 1024px) {
#qty_input {
    margin-left: 280px;
    width: 150px;
    height: 40px;
    text-align: center;
    color: #484848;
    font-family: 'Rubik', sans-serif;
    border: none;
    background-color: #EEF0F2;
}
}




@media (min-width: 768px) and (max-width: 1024px) {
.product-detail-description {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 60px;
    padding-right: 100px;
    margin-right: 0;
    margin-left: 30px;
}
}


@media (min-width: 768px) and (max-width: 1024px) {
.product-detail-price {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 10px;
    
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.product-detail-image {
    width: 250px;
    height: 250px;
    margin-left: 260px;
    margin-top: 80px;
    display: inline-block;
}
}


@media (min-width: 768px) and (max-width: 1024px) {
.product-detail-name {
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0;
}
}
@media (max-width: 767px) {
.product-detail-name {
    text-align: center;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 20px;
}
}

 .comment-title {
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 620px;
    color: #484848;
 }

@media(max-width: 767px) {
  .comment-title {
    font-size: 15px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 160px;
    color: #484848;
 }
}

@media(min-width: 768px) and (max-width: 1024px) {
  .comment-title {
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 310px;
    color: #484848;
 }
}


 .comment-title2 {
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 40px;
    margin-left: 600px;
    color: #484848;
 }

@media(max-width: 767px) {
  .comment-title2 {
    font-size: 15px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 40px;
    margin-left: 160px;
    color: #484848;
 }
}

@media(min-width: 768px) and (max-width: 1024px) {
  .comment-title2 {
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 300px;
    color: #484848;
 }
}

 .comment-card {
     margin-left: 330px;
     width: 50%;
 }

@media(max-width: 767px) {
 .comment-card {
     margin-left: 50px;
     width: 70%;
 }
}

@media(min-width: 768px) and (max-width: 1024px) {
 .comment-card {
     margin-left: 80px;
     width: 70%;
 }
}

 .comment-postedby {
     text-align: center;
     font-family: 'Rubik', sans-serif;
 }

@media(max-width: 767px) {
  .comment-postedby {
     text-align: center;
     font-family: 'Rubik', sans-serif;
     font-size: 15px;
 }
}

.comment-usercomment {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

@media(max-width: 767px) {
.comment-usercomment {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}
}

.user-button {
    margin-left: 230px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #a0c2e7;
    color: #696969;
    border: none;
    font-family: 'Rubik', sans-serif;
}


.user-button:hover {
    margin-left: 230px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #8caee2;
    color: #696969;
    border: none;
    font-family: 'Rubik', sans-serif;
}

@media(max-width: 767px) {
.user-button {
    margin-left: 50px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #a0c2e7;
    color: #696969;
    border: none;
    font-family: 'Rubik', sans-serif;
}
}

@media(max-width: 767px) {
.user-button:hover {
   margin-left: 50px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #8caee2;
    color: #696969;
    border: none;
    font-family: 'Rubik', sans-serif;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.user-button {
    margin-left: 170px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #a0c2e7;
    color: #696969;
    border: none;
    font-family: 'Rubik', sans-serif;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.user-button:hover {
   margin-left: 170px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #8caee2;
    color: #696969;
    border: none;
    font-family: 'Rubik', sans-serif;
}
}

/* contact.html */

.blankspace15 {  /* blankspace15 also located in contact.html but does not seem to update when I collectstatic */
    background-color: #f2f7f7;
    width: 100%;
    height: 230px;
}

@media (max-width: 767px) {
.blankspace15 {
    background-color: #f2f7f7;
    width: 100%;
    height: 290px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
.blankspace15 {
    background-color: #f2f7f7;
    width: 100%;
    height: 300px;
}
}

.contact-heading2 {
    color: #696969;
    font-family: 'Rubik', sans-serif;  
    font-size: 20px;
    text-align: center;
    margin-top: 20px;

}


@media(max-width: 767px) {
.card-header {
    background-color: white;

}
}

.contact-head {
    font-size: 20px;
    color: #484848;
    font-family: 'Rubik', sans-serif;  
    text-align: center;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 30px;
}

@media(max-width: 767px) {
.contact-head {
    font-size: 15px;
    color: #484848;
    font-family: 'Rubik', sans-serif;  
    text-align: center;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 50px;
    line-height: 30px;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.contact-head {
    font-size: 17px;
    color: #484848;
    font-family: 'Rubik', sans-serif;  
    text-align: center;
    padding-bottom: 50px;
    padding-left: 90px;
    padding-right: 90px;
    line-height: 30px;
}
}

.contact-title {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    text-align: center;
    color: #484848;
    padding-top: 30px;
    padding-bottom: 20px;
}

@media(max-width: 767px) {
.contact-title {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    text-align: center;
    color: #484848;
    padding-top: 30px;
    padding-bottom: 20px;
}
}

@media(max-width: 767px) {
.contact-box {
    padding-left: 40px;
    padding-right: 40px;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.contact-box {
    margin-left: 90px;
    margin-right: 90px;
}
}

.contact-button {
    background-color: #a0c2e7;
    color: #696969;
    width: 100px;
    height: 40px;  
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 50px;
    border-radius: 4px;
}

.contact-button:hover {
    background-color: #a0c2e7;
    color: #fff;
    width: 100px;
    height: 40px;
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-left: 200px;
    margin-bottom: 50px;
    border-radius: 4px;
}

@media(max-width: 767px) {
.contact-button {
    background-color: #a0c2e7;
    color: #696969;
    width: 100px;
    height: 40px;  
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 50px;
    border-radius: 4px;
}
}

@media(max-width: 767px) {
.contact-button:hover {
    background-color: #a0c2e7;
    color: #fff;
    width: 100px;
    height: 40px;
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-left: 70px;
    margin-bottom: 50px;
    border-radius: 4px;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.contact-button {
    background-color: #a0c2e7;
    color: #696969;
    width: 100px;
    height: 40px;  
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    margin-left: 170px;
    margin-bottom: 50px;
    border-radius: 4px;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.contact-button:hover {
    background-color: #a0c2e7;
    color: #fff;
    width: 100px;
    height: 40px;
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-left: 170px;
    margin-bottom: 50px;
    border-radius: 4px;
}
}


/* cart.html */


.cart-background {
    background-color: #f2f7f7;
    width: 100%;

}

.blankspace3 {
    height: 200px;
    background-color: #f2f7f7;
    width: 100%;
}

@media(max-width: 767px) {
.blankspace3 {
    height: 200px;
    background-color: #f2f7f7;
    width: 100%;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.blankspace3 {
    height: 300px;
    background-color: #f2f7f7;
    width: 100%;
}
}

.blankspace2 {
    height: 200px;
    background-color: #f2f7f7;
    width: 100%;
}

.image-cart {
    width: 250px;
    height: 200px;
    margin-top: 50px;
    margin-left: 545px;
}

@media(max-width: 767px) {
.image-cart {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: 90px;
}
}


@media(min-width: 768px) and (max-width: 1024px) {
.image-cart {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 230px;
}
}

.cart-title {
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #484848;
}

@media(max-width: 767px) {
.cart-title {
    font-size: 22px;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #484848;
}
}


@media(min-width: 768px) and (max-width: 1024px) {
.cart-title {
    font-size: 25px;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #484848;
}
}

.cart-id {
    font-size: 10px;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #484848;

}

.cart-price {
    font-size: 15px;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #484848;

}

@media(max-width: 767px) {
.cart-price {
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #484848;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.cart-price {
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #484848;
}
}

.cart-quantity {
    font-size: 18px;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #484848;

}

@media(max-width: 767px) {
.cart-quantity {
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #484848;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.cart-quantity {
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #484848;
}
}

.cart-input {
    width: 170px;
    margin-top: 20px;
    margin-left: 590px;
    margin-bottom: 20px;
}

@media(max-width: 767px) {
.cart-input {
    width: 170px;
    margin-top: 20px;
    margin-left: 130px;
    margin-bottom: 20px;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.cart-input {
    width: 170px;
    margin-top: 20px;
    margin-left: 300px;
    margin-bottom: 40px;
}
}


.cart-heading {
      font-family: 'Satisfy', cursive;
      font-size: 45px;
      text-align: center;
      color: #484848;
      margin-bottom: 30px;  
      padding-top: 40px;  
}

@media (max-width: 767px) {
.cart-heading {
      font-family: 'Satisfy', cursive;
      font-size: 30px;
      text-align: center;
      color: #484848;
      margin-bottom: 20px;
}
}

.checkout-button {
    background-color: #C0C0C0;
    margin-left: 245px;
    font-family: 'Rubik', sans-serif;
}

.total {
    margin-left: 245px;
    margin-bottom: 10px;
}

@media(max-width: 767px) {
.checkout-button {
    background-color: #C0C0C0;
    margin-left: 70px;
    font-family: 'Rubik', sans-serif;
}
}

@media(max-width: 767px) {
.total {
    margin-left: 70px !important;
    margin-bottom: 10px;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.checkout-button {
    background-color: #C0C0C0;
    margin-left: 90px;
    font-family: 'Rubik', sans-serif;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.total {
    margin-left: 90px !important;
    margin-bottom: 10px;
}
}

.checkout-button {
    background-color: #C0C0C0;
    margin-left: 30px;
    font-family: 'Rubik', sans-serif;
}

.checkout-button:hover {
    background-color: #696969;;
    margin-left: 30px;
    color: white;
    font-family: 'Rubik', sans-serif;
}

@media(max-width: 767px) {
.checkout-button {
    background-color: #C0C0C0;
    margin-left: 30px;
    margin-right: 60px;
    font-family: 'Rubik', sans-serif;
}
}

@media(max-width: 767px) {
.checkout-button:hover {
    background-color: #696969;;
    margin-left: 30px;
    margin-right: 60px;
    color: white;
    font-family: 'Rubik', sans-serif;
}
}


.update-link,
.remove-item {
    cursor: pointer;
}

.amend-quantity-button {
    background-color:  #D3D3D3;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-family: 'Rubik', sans-serif;
}

.amend-quantity-button:hover {
    background-color: #C0C0C0;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-family: 'Rubik', sans-serif;
}


::placeholder {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}



@media(max-width: 767px) {
.pay-now {
    margin-left: 100px !important;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.pay-now {
    margin-left: 330px;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
 .delivery-address {
    width: 80% !important;
    margin-left: 100px;
}
}

@media(max-width: 767px) {
.delivery-address {
    margin-left: 0 !important;
}
}

@media(max-width: 767px) {
.payment-info {
    margin-left: 0 !important;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.payment-info {
    width: 80% !important;
    margin-left: 100px;
}
}

@media(max-width: 767px) {
.delivery-address-title {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 30px;
}
}

@media(max-width: 767px) {
#payment-form {
    width: 90%;
    margin-top: 70px;
    padding-left: 40px;
} 
}

@media (min-width: 1025px) {
.checkout-yourdetails {
    margin-left: 600px;
    margin-bottom: 20px;
}
}

@media (max-width: 767px) {
.checkout-yourdetails {
    margin-left: 140px;
    margin-bottom: 20px;
}
}

@media (min-wdith: 1025px) {
.form-row {
    margin-left: 200px;
}
}

@media (min-width: 1025px) {
.order-summary {
    margin-left: 220px;

}
}

@media(max-width: 767px) {
.order-summary {
   margin-left: 100px; 
   margin-top: 30px;
   margin-bottom: 30px;
}
}

@media(max-width: 767px) {
.checkout-button:hover {
    background-color: #696969;
    color: white;
    display: block;
    width: 100px;
    margin-left: 130px;
}
}


/* accounts.html (signin, register, signout) */

.blankspace10 {
    height: 100px;
    background-color: #f2f7f7;
}

.login {
    background-color: #f2f7f7;
}

.accounts-background3 {
    background-color: #f2f7f7;
}

.accounts-background {
    margin-left: 450px;
    
}

.accounts-heading2 {
    font-size: 17px;
    color: #484848;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

div h1 {
    font-size: 40px;
    color: #484848;
    font-family: 'Satisfy', cursive;
    background-color: #f2f7f7;
    margin-left: 600px;
    margin-top: 30px;
    margin-bottom: 40px;
    
}

.signin-button {
    background-color: #a0c2e7;
    color: #696969;
    width: 100px;
    height: 40px;  
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 50px;
    border-radius: 4px;
}

.signin-button:hover {
    background-color: #a0c2e7;
    color: #fff;
    width: 100px;
    height: 40px;
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 50px;
    border-radius: 4px;
}

#div_id_login {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

#div_id_password {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

#div_id_remember {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

.secondaryAction {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

#div_id_email {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

#div_id_email2 {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

#div_id_username {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

#div_id_password1 {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

#div_id_password2 {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}


@media(min-width: 768px) and (max-width: 1024px) {
#signup_form {
    margin-right: 100px;
    margin-left: 0;
}
}

@media(max-width: 767px) {
    div h1 {
        font-size: 30px;
        color: #484848;
        font-family: 'Satisfy', cursive;
        background-color: #f2f7f7;
        margin-left: 150px;
        margin-top: 30px;
        margin-bottom: 40px;
        
    }
}

@media(max-width: 1024px) {
.blankspace10 {
    height: 150px;

}
}

@media(min-width: 768px) and (max-width: 1024px) {
    div h1 {
        font-size: 40px;
        color: #484848;
        font-family: 'Satisfy', cursive;
        background-color: #f2f7f7;
        margin-left: 300px;
        margin-top: 30px;
        margin-bottom: 40px;
        
    }
}

@media(max-width: 767px) {
.accounts-background {
    margin-right: 100px;
    margin-left: 0 !important;
    
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.accounts-background {
    margin-left: 100px;
    
}
}

@media (max-width: 767px) {
.accounts-heading2 {
    font-size: 17px;
    color: #484848;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 100px;
    padding-right: 0 !important;
    padding-left: 0;
 
}
}

@media (min-width: 768px) and (max-width: 1024px) {
.accounts-heading2 {
    font-size: 20px;
    color: #484848;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 100px;
    padding-left: 0;
    padding-right: 0;
    
}
}

@media (min-width: 768px) and (max-width: 1024px) {
.accounts-heading3 {
    font-size: 20px;
    color: #484848;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 100px;
    padding-left: 0;
    padding-right: 0;
    
}
}


@media(min-width: 768px) and (max-width: 1024px) {
.login {
    background-color: #f2f7f7;
    padding-left: 40px;
    padding-right: 70px;
    margin-right: 90px;
    margin-left: 10px;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.signin-button {
    background-color: #a0c2e7;
    color: #696969;
    width: 100px;
    height: 40px;  
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 50px;
    border-radius: 4px;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.signin-button:hover {
    background-color: #a0c2e7;
    color: #fff;
    width: 100px;
    height: 40px;
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-left: 10px;
    margin-bottom: 50px;
    border-radius: 4px;
}
}

@media(max-width: 767px) {
.secondaryAction {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    margin-left: 30px;
}
}


.signup-button {
    background-color: #a0c2e7;
    color: #696969;
    width: 100px;
    height: 40px;  
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 50px;
    border-radius: 4px;
}

.signup-button:hover {
    background-color: #a0c2e7;
    color: #fff;
    width: 100px;
    height: 40px;
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-left: 150px;
    margin-bottom: 50px;
    border-radius: 4px;
}

@media(max-width: 767px) {
.signup-button {
    background-color: #a0c2e7;
    color: #696969;
    width: 100px;
    height: 40px;  
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 50px;
    border-radius: 4px;
}
}

@media(max-width: 767px) {
.signup-button:hover {
    background-color: #a0c2e7;
    color: #fff;
    width: 100px;
    height: 40px;
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-left: 80px;
    margin-bottom: 50px;
    border-radius: 4px;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.signup-button {
    background-color: #a0c2e7;
    color: #696969;
    width: 100px;
    height: 40px;  
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    margin-left: 220px;
    margin-bottom: 50px;
    border-radius: 4px;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.signup-button:hover {
    background-color: #a0c2e7;
    color: #fff;
    width: 100px;
    height: 40px;
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-left: 220px;
    margin-bottom: 50px;
    border-radius: 4px;
}
}

@media(max-width: 767px) {
#signup_form {
    margin-left: 60px;
    width: 280px;
}
}


.accounts-heading3 {
    font-size: 17px;
    color: #484848;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 60px;
    margin-left: 50px;
    padding-left: 0;
    padding-right: 0;
    
}

@media (max-width: 767px) {
.accounts-heading3 {
    font-size: 17px;
    color: #484848;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 0px;
    padding-right: 0 !important;
    padding-left: 0;
 
}
}

@media(max-width: 767px) {
.login {
    background-color: #f2f7f7;
    padding-left: 40px;
    padding-right: 70px;
    margin-left: 60px;
    width: 300px;
}
}



@media(max-width: 767px) {
.signin-button {
    background-color: #a0c2e7;
    color: #696969;
    width: 100px;
    height: 40px;  
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 50px;
    border-radius: 4px;
}
}

@media(max-width: 767px) {
.signin-button:hover {
    background-color: #a0c2e7;
    color: #fff;
    width: 100px;
    height: 40px;
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-left: 40px;
    margin-bottom: 50px;
    border-radius: 4px;
}
}

.accounts-heading4 {
    font-size: 17px;
    color: #484848;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 60px;
    margin-left: 500px;
    padding-left: 0;
    padding-right: 0;
    
}

@media(max-width: 767px) {
.accounts-heading4 {
    font-size: 12px;
    color: #484848;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 10px;
    padding-left: 50px;
    padding-right: 50px;
    
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.accounts-heading4 {
    font-size: 15px;
    color: #484848;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 10px;
    padding-left: 0px;
    padding-right: 0px;
    
}
}

.signout-button {
    background-color: #a0c2e7;
    color: #696969;
    width: 100px;
    height: 40px;  
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    margin-left: 620px;
    margin-bottom: 50px;
    border-radius: 4px;
}

@media(max-width: 767px) {
.signout-button {
    background-color: #a0c2e7;
    color: #696969;
    width: 100px;
    height: 40px;  
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    margin-left: 140px;
    margin-bottom: 50px;
    border-radius: 4px;
}
}

@media(min-width: 768px) and (max-width: 1024px) {
.signout-button {
    background-color: #a0c2e7;
    color: #696969;
    width: 100px;
    height: 40px;  
    border: none;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    margin-left: 320px;
    margin-bottom: 50px;
    border-radius: 4px;
}
}

/* checkout.html */



.checkout-background {
    background-color: #f2f7f7;
    width: 100%;
    color: #484848;
    font-family: 'Rubik', sans-serif;  
}

.blankspace4 {
    height: 170px;
    background-color: #f2f7f7;
    width: 100%;
}

.blankspace5 {
    height: 200px;
    background-color: #f2f7f7;
    width: 100%;
}

.order-summary {
    font-weight: bold;
}

#pay-now {
    background-color: #D3D3D3;
    color: #696969;
    width: 150px;  
    border: none;
}

#pay-now:hover {
    background-color:#C0C0C0;
    color: #fff;
    width: 150px;
    border: none;
}

.pay-now {
    margin-left: 660px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


.delivery-address {
    margin-left: 370px;
}


.payment-info {
    margin-left: 500px;
}

.delivery-address-title {
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    margin-bottom: 30px;
}

.payment-info-title {
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    margin-bottom: 30px;
}

.checkout-heading {
      font-family: 'Satisfy', cursive;
      font-size: 55px;
      text-align: center;
      color: #484848;
      margin-bottom: 30px;
      padding-top: 40px;    
}


