
<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
  <div class="col-3">
  <ul>
  <div class="list-inline-item">
   <a target="_blank" href="https://www.facebook.com/">
    <i class="fab fa-facebook-square" id="footericon"></i></a>
    </div>
    <div class="list-inline-item">
     <a target="_blank" href="https://www.instagram.com/">
    <i class="fab fa-instagram" id="footericon2"></i></a>
    </div>
    <div class="list-inline-item">
     <a target="_blank" href="https://twitter.com/">
    <i class="fab fa-twitter-square" id="footericon3"></i></a>
    </div>
                   
    </ul>
  </div>
    <div class="row">
      <div class="col-md-12">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <p> House Of Cakes</p>
  </div>
</footer>
