{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block content %}

<div class="blankspace4"></div>
<div class="contact-background">
<section class="container">
    <div class="row gallery-text">
        <div class="col-12">
            <p class="contact-heading">If you are interested in hearing more about our delicious cakes, or if you are looking
            to place a large order, please don't hesitate to get in touch.</p>
        </div>
    </div>
    <div class="row contact-box">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header user-card-header">
                    <h5 class="contact-heading2">Contact</h5>
                </div>
                <div class="card-body">  
                    <form action="{% url 'contact' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form }}
                        </div>
                        <input type="submit" value="Submit" class="btn btn-block button-contact">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<div class="blankspace5"></div>



{% endblock %}