  
{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block content %}

<div class="blankspace4"></div>
<div class="checkout-background">
<div class="container">
    <div class="row contact-row">
        <div class="col-12">
            <h5 class="contact-head">If you are interested in hearing more about our delicious cakes, or if you are looking
            to place a large order, please don't hesitate to get in touch.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5 class="contact-heading2">Contact</h5>
                </div>
                <!-- contact form which is linked to gmail account -->
                <div class="card-body">  
                    <form action="{% url 'contact' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form }}
                        </div>
                         <input class="btn btn-block btn-lg button-checkout" type="submit" name="commit" value="submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="blankspace5"></div>


{% endblock %}
