{% extends "base.html" %} 
{% load static %} 
{% block content %}

<div class="blankspace16"></div>
<div class="product-background mb-3" style="max-width: 1200px; max-height: 700px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img class="product-detail-image" alt="{{ product.name }}" src="{{ product.image_url }}"/>
    </div>
    <div class="col-lg-8">
      <div class="card-body">
        <h5 class="product-detail-name">{{ product.name }}</h5>
        <p class="product-detail-description">{{ product.description }}</p>
        <p class="product-detail-price"><small>£{{ product.price }}</small></p>
        <!-- form to allow user to choose product quantity -->
        <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
          {% csrf_token %}
          <div class="form-row">
            <div class="col-12">
              <p class="mt-3 qty_input"><strong>Quantity:</strong></p>
              <div class="form-group">
                <div class="input-group">
                  <input class="qty_input" id="qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}"/>
                </div>
              </div>
            </div>
            <div class="col-12 all-buttons">
            <!-- Buttons to add to cart, go back to all products, or go to checkout -->
              <a href="{% url 'products' %}" class="btn btn-primary button-detail" role="button">Keep Shopping</a>
              <input type="submit" class="btn btn-primary button-add" role="button" value="Add to Bag"/>
              <a class="btn btn-primary button-checkout" href="{% url 'view_cart' %}" role="button">Checkout</a>
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="blankspace9"></div>
<div class="row comment-rows">
<!-- Displays comments left by users. Displayed to all even if you are not a user -->
  <h5 class="comment-title">Comments</h5>
  {% if comment %} {% for usercomment in comment %}
  <div class="col-12">
    <div class="card comment-card">
      <div class="card-header">
        <h5>Posted By: {{ usercomment.comment_user.username }}</h5>
      </div>
      <div class="card-body">
        <p>{{ usercomment.comment_body }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="card-body">
    <p>
      No comments on this yummy cake just yet. Add a comment below to be the
      first.
    </p>
  </div>
  {% endif %}
</div>
<!-- Form to allow users to leave a comment. Must be a user -->
<div class="row comment-rows">
  {% if request.user.is_authenticated %}
  <h5>Add Comment</h5>
  <div class="col-12">
    <div class="card-body">
      <form action="{% url 'comment' product.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          {{ form }}
        </div>
        <input type="submit" value="Submit" class="btn user-button" />
        {% endif %}
      </form>
    </div>
  </div>
</div>
<div class="blankspace7"></div>

{% endblock %}
