{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="blankspace"></div>
    {% for product in products %}
      <div class="productrows">
      <ul class="cakebox">  
      <li><img class="cakeimage" alt="{{ product.name }}" src="{{ product.image_url }}"></li>
      <li class="cakename">{{ product.name }}</li>
      <li class="cakeprice"> £{{ product.price }}</li>
      <form class="form-group" method="POST" action="{% url 'product_detail' product.id %}">
        {% csrf_token %}
        <input type="number" name="quantity" min="1" max="5" class="form-control addcake-item" placeholder="Quantity" required>
        <button class="btn btn-form-control addcake-button atc-btn" type="submit">Find Out More</button>
        </form>
        </ul> 
      </div>
    {% endfor %} 
   

{% endblock %}