{% extends "base.html" %} 
{% load static %} 
{% block content %}

<!-- products page list all cakes -->
<div class="blankspace13"></div>
{% for product in products %}
<div class="productrows">
  <ul class="cakebox">
    <li>
      <img class="cakeimage" alt="{{ product.name }}" src="{{ product.image_url }}"/>
    </li>
    <li class="cakename">{{ product.name }}</li>
    <li class="cakeprice">£{{ product.price }}</li>
    <form class="form-group" method="POST" action="{% url 'product_detail' product.id %}">
      {% csrf_token %}
      <!-- this button takes the user to product detail page providing more info on cake and add to cart -->
      <button class="btn btn-form-control more-button" type="submit">Find Out More</button>
    </form>
  </ul>
</div>
{% endfor %} 

<style>

/* this css is also placed in base.css (to demonstrate this was not an oversight), 
                                however the css does not update when I collect static */

.blankspace13 {    
    height: 250px;

}

@media(min-width: 768px) and (max-width: 1024px) {
.blankspace13 {
    height: 360px;

}
}

@media(max-width: 767px) {
.blankspace13 {
    height: 360px;

}
}

@media (max-width: 767px) {
.cakebox {  
    display: inline-block;
    box-sizing: border-box;
    background-color: #EEF0F2;
    width: 340px !important;
    height: 470px;
    margin-right: 100px !important;
    
}
}

</style>

{% endblock %}
